.cover {
  background: url(img/haikei.jpg);
  background-size: cover;
}

.Portfolio {
  font-family: 'Tangerine',
    cursive;
}

.LP {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

/* body  {
  background: #242232;
  color: #fff;
} */

.fas {
  color: #FA2672;
}

.skel {}

.createimg {
  width: auto;
  max-height: 300px;
}